@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;500;800&display=swap');


/* ======================================================
  Structure:
     Header / Navigation-bar / Slideshow / Main / Product details  / 
     placeorder page / Component / Card / Form / Table / progress -bar
  =======================================================*/
  
html{
  font-size: 62.5%;
  --primaryGold: #C0B283;
  --primarySilk:#DCD0C0; 
  --primaryWhite: #F4f4f4; 
  --primaryDark:#373737; 
  --primaryHighlight: #E85A4F; 
}

*{
  box-sizing: border-box; 
  margin:0; 
  padding:0;
  font-size:1.6rem; 
  font-family:"Sansita Swashed", sans-serif; 
}

a{
  text-decoration: none;
}

a:link, a:visited{
  color:black; 
}

.brand__logo{
  width: 80px;
  mix-blend-mode: exclusion;
}

.cart-icon{
  font-size:2rem;
}

.cart-icon::after{
  content: attr(value);
  color:white; 
  border-radius:50%; 
  position: relative;
  left:-5px;
  top:-10px;
  padding: 2px; 
  z-index:100;
}

.container{
  width:80vw;
  margin:0 auto;
  background: white;
}

.grid{
  display: grid;
  grid-template-areas: 
  "nav" "main" "footer"; 
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr 3em;
}

/* ========
    header 
  ========*/
header{
  width:100%;
  height:50px;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(191, 141, 48, 0.9);
  z-index:100;
  position: fixed; 
  top:0; 
  left:0; 
  transition: top 0.3s; 
}

.header--message{
  font-weight: 300;
}

header *:first-child{
  padding: 10px; 
  color:black;
  display:inline-block;
}

.icon{
  width:60px;
}

/* =======
   navigation-bar
   ======= */ 

.navigation-bar{
  grid-row:nav;
  width:100%; 
  text-align: left; 
  margin-right: 3rem; 
  z-index:1000;
  display:flex; 
  align-items:center;
}

.navigation-bar >a{
  display: inline-block; 
  margin-right: 3rem;
  color:black;
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  padding: 1rem;
}

@media (max-width: 440px ){
  .navigation-bar{
    margin-top: 50px;
  }
}

.dropdown{
  position:relative; 
  display:inline-block;
}

.dropdown >a{
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}

.dropdown span{
  font-size:70%;
}
.dropbtn{
  font-size: 130%;
}

.dropdown-content{
  display:none; 
  position: absolute;
  background: var(--primaryWhite); 
  min-width:160px; 
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1; 
}

.dropdown:hover .dropdown-content{
  display:block;
}

.dropdown-content a:hover, 
.dropdown-content button:hover
 {background-color: #ddd;}

.dropdown__a{
  font-size: 80%; 
  display:block;
  margin-left:0;
  padding:1em 0; 
  text-align: left;
}

.dropdown__btn{
  display:block;
  outline:0; 
  border:0; 
  font-size:80%;
  width:100%;
  padding:1em 0; 
  text-align: left;
}
/* ========
    Slideshow
   ========*/

.slideshow-container {
  width: 100%;
  position: relative;
}

.mySlides >img{
  width:100%;
  height:60vh;
  object-fit:cover;
  object-position: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ========
    Main
   ========*/
main{
  grid-row: main; 
  /* height:100vh; */
  width:100%;
  margin-top:0em; 
  margin-bottom: 30vh;
}

.products{
  display:flex; 
  flex-wrap:wrap; 
  justify-content: center;
  gap: 4em;
  align-items:center; 
  margin-top: 5rem;
}

.product:hover{
  box-shadow: 13px 13px 20px grey;
}

.product{
  list-style-type: none;
  flex: 0 1 20rem;
  margin:1rem 0 0 0rem;
}

.product__image{
  width: 100%;
} 
.product__image img{
  width:100%;
}

.product__content{
  display:flex; 
  justify-content: space-between ;
  padding: 1rem auto;
  font-size:1.5;

}

footer{
  border-top: 1px solid black; 
  padding-top: 1.5rem; 
  grid-row:footer;
  text-align: center;
}



/* =========
  Product details 
   ========= */ 

.breadcrumb{
  padding:1rem;
  font-style: normal;
}

.details{
  display:flex; 
  flex-direction:row; 
  justify-content: space-around;
  align-items: flex-start;
  border-top:1px solid black;
  padding-top:2em; 
}

.details-image{
  flex: 0 1 50rem;
  display:grid; 
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
  column-gap: 1em;
}

.details-image-container img{
  width:33.3%; 
}

.details-image-display{
  width:100%;
}

.details-info-productName{
  font-size:2rem;
}

.details-info{
  flex: 0 1 30rem;
  border-right: 1px dotted black;
  position:relative;
  /* left: -1em; */
}

.details-action ul{
  padding:0;
}

.details-info-description{
  width:30ch;
  line-height: 170%;
}

.details-info-description div{
 font-weight: 300;
}


.details-info li,
.details-action li{
  font-size: calc(8px + 0.8rem);
  padding:1rem;
  font-weight: 400;
  list-style-type: none;
  word-spacing: 120%;
}

.details-action{
  flex: 0 1 20rem;
  border-radius:0.5rem;
  border: 1px solid rgba(255, 239, 92,90%);
  background: rgba(255, 239, 92, 30%);
}

.details-action li:last-child{
  display:flex;
  flex-direction:column;
}

@media (max-width:850px){
  .details{
    display:flex; 
    flex-flow: column;
    padding-top:none;
  }

  .details-image{
    flex: 0 1 20rem;
    min-width:80%;
    column-gap: 0rem;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content;
  }

  .details-image-container img{
    width:80%; 
  }

  .details-info-description{
    min-width:80vw;
    line-height: 170%;
  }
  .details-info{
    border:none;
  }
  .details-action{
    min-width:80vw;
  }
}

/* ===============
   placeorder page 
   =============== */


.placeorder{
  display:flex; 
  flex-wrap: wrap;
  border-bottom: dotted 1px black; 
}

.placeorder-list{
  width: 30%; 
  padding: 2em 1em 0em 1em;
}

.placeorder-list >div{
 margin-bottom: 2rem;
}

.placeorder-header{
  width: 70%;
  padding: 2em 1em 0em 1em;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.placeorder-header > div{
  width:100%;
  margin-top: 1rem;
}

.placeorder-action{
  width: 100%;
  padding: 1em;
  border-bottom:dotted 1px black;
  display:flex;
}

.placeorder-action >* {
  width: 100%;
  padding: 1em;
  justify-items: space-between;
}

.placeorder-action__button{
  width: 15ch; 
  border:none;
  
}
/* ==========
   component 
   ==========*/

.button{
  padding:1rem; 
  cursor: pointer; 
  box-shadow: 0px 0px 3px grey; 
  border:none;
}

.button:hover{
  background:orange;
}
.button:active{
  background:darkorange;
}

.loader{
  margin: 5rem auto; 
  display:block;
  mix-blend-mode: darken;
  filter: hue-rotate(80deg);
}

.cardWithPhoto__container{
  width: 70vw;
  margin:0 auto;
  display: flex; 
}

.cardWithPhoto__container:hover .cardWithPhoto__button{
  animation: 200ms ease-in 0s 3 toggle;
}

@keyframes toggle{
  0%{
    transform:rotate(-25deg);
  }
  50%{
    transform:rotate(15deg);
  }
  70%{
    transform:rotate(-5deg);
  }
  100%{
    transform:rotate(0deg);
  }
}

.cardWithPhoto__container >div{
  background:black;
  width:50%;
  display:flex; 
  justify-content: center;
  align-content: center;
}

.cardWithPhoto__button{
  margin: auto;
}

.cardWithPhoto__container >img{
  width:50%;
}



/* =====
   CART
   ===== */ 

   .cart{
    display:flex; 
    justify-content: center;
    gap: 100px;
  }
  
  .cart-list{
    content:"";
    flex: 0 1 60rem; 
    padding:1rem;
  }
  
  .cart-action{
    flex: 0 1 20rem; 
    margin-top:10px;
  }
  
  .cart-action-item{
    line-height: 30px;
    margin-bottom: 2rem;
  }

  .cart-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid black;
    margin-bottom: 1rem;
  }
  
  .cart-details{
    display:flex;
    gap:2em;
    padding-bottom: 2rem;
    border-bottom: 1px dashed black;
    margin-bottom: 2rem;
    outline-offset: 1px solid black;
  }
  
  .cart-details-image img{
    width:18rem;
  }
  
  .cart-details-info li{  
    list-style-type: none;
    margin-bottom:1rem;
  }
  
  .cart-details-info{
    position:relative;
    width:100%;
  }
  
  .cart-details-info li:last-child{
    position:absolute; 
    right: 10px;
    top:0px;
  }
  
/* =====
   FORM
   ===== */ 

.form {
  margin: 5rem auto; 
  width:25rem;
  box-shadow: 3px 3px 10px grey;
  padding: 3rem;
}

.form-content{
  display:flex;
  flex-direction: column;
}

.form-content > label {
  margin-top: 1rem; 
}

input:empty .error-message{
  display:none;
}

.error-message{
  background:orange;
}

.payment-form{
  display: block;
}

.payment-form button{
  margin-top:2rem;
  display: block;
  width:100%;
}

/* ============
    Table 
  ==============*/
.table{
  max-width:80%; 
  margin: 1rem auto;
  overflow: scroll;
}

table{
  border: 1rem rgba(127, 146, 161, 70);  
  border-radius: 1rem;
  min-width: 70%; 
  border-collapse: collapse;
}

table th{
  background: darkcyan;
  position:relative; 
}

table td {
  vertical-align: middle;
  line-height:1.8;
  text-align:center;
}

table tr{ 
  padding-bottom:3rem;
  border-bottom: 1px solid black}; 

.image-table{
  width:50px;
  height:50px;
}

.image-table img{ 
  max-width:100%;
}

table td:first-child{
  display:inline-block; 
  margin-right:1rem;
}

table td:last-child, 
table th:last-child{
  display:none; 
}

@media (max-width:570px){
  table thead{
    display:none;
  }

  table, table tbody, table tr, table td{
    display:block;
  }
  
  table tr{
    margin-bottom:3rem;
  }

  table td{
    text-align:right;
    position:relative;
  }

  table td::before{
    content:attr(data-label);
    position: absolute;
    left: 0; 
    width:50%;
    padding-left:15px; 
    font-size:15px;
    font-weight:bold;
    text-align:left; 
  }
}

/* ==========
  progress -bar
   ==========
 */

.progress-bar{
  margin: 3rem auto; 
  display: flex; 
  width:50rem;
  justify-content: space-between; 
}

.progress-bar div{
  color: rgb(191, 191, 191); 
  border-top: 0.3rem solid; 
  border-bottom: 0.3rem solid; 
  padding:0.5rem;
  flex:1 1;
}

.activated::after{
  content: "\2713";
  color: rgb(98, 120, 130); 
  position: relative;
  left:0.5rem;
}

.progress-bar div.activated{
  border-top:0.3rem solid;
  color: rgb(98, 120, 130);
}
/* =========== 
  VerticalSlides
   =========== */

.home{
  width:100%; 
  overflow-y:hidden;
  display:grid;
  grid-template-areas: 
  "home slide";
  gap:3em;
  grid-template-columns: 3fr 1fr;
}

.home__content{
  grid-area:home; 
}
.vSlide{
  grid-area:slide;
}

.verticalSlides__container{
  width:15vw;
  position:relative;
}

.verticalSlides__container >img{
  width:100%;
}

.verticalSlides__overlay{
  opacity:100%;
  position:absolute; 
  top:45%; 
  left:50%;
  transform-origin: left;
  white-space: nowrap;
  z-index:100;
  font-size:2.5rem; 
  color:black;
  opacity:0;
  transform: rotate(270deg);
  padding:30%;
}

.verticalSlides__container:hover >img{
  opacity:50%;
}
.verticalSlides__container:hover .verticalSlides__overlay{
  opacity:80%;
}

.spriteContainer{
  margin-top:10em;
  display:flex; 
  flex-flow: column;
  align-items: center;
  border-left:1px dotted black; 
  border-right:1px dotted black; 
}

.spriteContainer h5{
  margin-top: 1em;
  letter-spacing: 0.5ch;
}

.animatedSprite{
  width:526px;
  height:372px;
  margin: 2em auto; 
  background: transparent url(https://myronbankbank.s3-ap-southeast-1.amazonaws.com/css_sprite.png) 0 0 no-repeat;
  animation: fadeInfadeOut 7s steps(5) infinite;
}

@keyframes fadeInfadeOut{
  100% {
    background-position: -2630px 0;
  }
}

@media (max-width:750px){
  .home{
    display:block;
  }
  .verticalSlides__container{
    display:none;
  }
  .verticalSlides__overlay{
    display:none;
  }
  .verticalSlides__container >img{
    object-fit:cover;
  }
}
